.layout-home {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  &--header {
    .logo {
      width: 300px;
    }
  }
  &--explain {
    position: relative;
    display: flex;
    justify-content: center;
    .description {
      @media #{$screen-sm} {
        width: 75%;
      }
      @media #{$screen-md} {
        font-size: 18px;
        width: 50%;
      }
    }
  }
  &--start-game {
    &:last-child {
      margin-left: 20px;
    }
    &:hover {
      transform: scale(1.1);
    }
    height: 44px;
    width: 209px;
    font-family: jedi;
    font-size: 18px;
    text-align: center;
    background: none;
    color: #ffffff;
    border: solid thin #ffffff;
    cursor: pointer;
    letter-spacing: 10px;
  }

}

#modalRank {
  .modal--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

}