.layout-quiz {
  min-height: 100vh;
  position: relative;

  button:hover {
    opacity: 0.7;
  }


  &--header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media #{$screen-sm} {
      justify-content: space-between;
    }


    .logo {
      width: 150px;
    }
    .timer {
      font-size: 21px;
      width: 130px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .countdown {
        letter-spacing: 5px;
      }

    }

    .score {
      margin-bottom: 10px;
      text-align: center;
      @media #{$screen-sm} {
        text-align: left;
      }

      span {
        display: block;
        @media #{$screen-sm} {
          display: inline;
        }
      }
    }
  }

  &--list {
    padding-top: 45px;

    .box {
      border: solid thin #f5df1e;
      border-radius: 4px;
      overflow: hidden;
      .image-character {
        height: 200px;
        position: relative;
        .options {

          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 5px 20px;
          border: solid thin #fff;
          background: #06000bde;
          border-radius: 12px;
        }
      }
      .box-footer {
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
        position: relative;
        .answer {
          font-family: 'Roboto';
          font-weight: 400;
          &::placeholder {
            font-size: 14px;


          }
          width: 100%;
          border: none;
          padding: 14px 10px;
          text-align: center;
        }
      }
    }
  }

  &--footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    .more-questions {
      padding: 5px 20px;
      border: solid thin #fff;
      background: #06000bde;
    }
  }


}



.modal--content {
  .datails {
    display: flex;
    flex-wrap: wrap;
    .image {
      width: 100%;
      @media #{$screen-sm} {
        width: 50%;
      }
    }
    .attributes {
      min-height: 212px;
      margin-top: 30px;
      width: 50%;
      @media #{$screen-sm} {
        padding-left: 30px;
        margin-top: 0px;
      }
      ul {
        list-style: none;
        padding: 0;
        li {
          div {
            margin-bottom: 5px;
            color: $color-gray-medium;
          }
        }
      }
    }
  }

  .more-datails {
    margin-top: 30px;
    ul {
      list-style: none;
      padding: 0;
      flex-wrap: wrap;
      color: $color-gray-medium;
      margin-top: 0;
      li {
        margin-bottom: 10px;
        &:not(:last-child):after {
          content: '';
          margin-right: 5px;

        }
      }
    }

    .vehicles {
      margin-top: 20px;
    }

  }

  .finish-quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
    font-family: Roboto;
    font-weight: bold;
    .score {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .description {
      margin-bottom: 20px;
    }

    .field {
      margin-bottom: 10px;
      input {
        padding: 5px 20px;
        border: solid thin $color-gray;
      }
    }
    .save-score-button, .button-go-home {
      padding: 5px 20px;
      border: solid thin $color-gray;

    }

  }


}
.button-go-home {
  padding: 5px 20px;
  border: solid thin $color-gray;
  color: $color-gray;

}
