<div class="container">
    <div class="grid" data-gutter="small">
        <div class="cell" data-cell-lg="12">
            <section class="layout-quiz">
                <div class="layout-quiz--header">
                    <div class="logo slideInRight" data-animation>
                        <img class="img-cover" [src]="'assets/star-wars.svg'" alt="">
                    </div>
                    <div class="score slideInDown" data-animation>
                        sua pontuação é
                        <span>{{score}}</span>
                    </div>
                    <div class="timer slideInLeft" data-animation>
                        <div class="text">Restam</div>
                        <div class="countdown"><span>{{minutesToShow}}</span><span>:</span><span>{{secondsToShow}}</span></div>
                    </div>
                </div>

                <div class="layout-quiz--list">
                    <div class="grid" data-gutter="large">
                            <div  *ngFor="let person of people let i = index"  class="cell" data-cell="12" data-cell-sm="6" data-cell-md="4" data-cell-lg="2.4">
                                <div class="box fadeIn" data-animation>
                                    <div class="image-character">
                                        <button class="options" (click)="openModal(person)">?</button>

                                        <img class="img-cover" [src]="person.images" alt="">
                                    </div>
                                    <div class="box-footer">
                                        <input class="answer" [disabled]="person.scored" name="{{i}}" (keyup)="checkAnswer(i)"  [(ngModel)]="person.answer" type="text" placeholder="Quem sou eu?">
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>

                <div class="layout-quiz--footer">
                    <button class="more-questions slideInRight"  data-animation *ngIf="nextPage" (click)="getPeople(nextPage)">Carregar mais</button>
                </div>

            </section>
        </div>
    </div>
</div>


<app-modal #modal (saveTheScore)="saveScore($event)"></app-modal>