// Modal
// -----

// Variables
$overlay-animation-duration: 200ms;
$modal-animation-duration: 300ms;
$modal-breakpoint: 640px;
$overlay-bg: rgba(#000, 0.6);

// Animations
@keyframes showOverlay {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes hideOverlay {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: translateY(75%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translateY(75%);
  }
}

// Styles
.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  animation-duration: $overlay-animation-duration;
  animation-timing-function: linear;
  animation-fill-mode: both;
  will-change: transform, opacity;

  &[data-backdrop] {
    background: $overlay-bg;
  }

  &[data-opened="true"] {
    pointer-events: auto;
    animation-name: showOverlay;
  }

  &[data-opened="false"] {
    animation-name: hideOverlay;

    &:not([data-type="alert"]) {
      animation-delay: $modal-animation-duration;
    }
  }
}

.modal {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: left;
  background: #fff;
  box-shadow: 0 4px 24px rgba(#000, 0.3);
  opacity: 0;
  animation-duration: $modal-animation-duration;
  animation-fill-mode: both;
  will-change: transform, opacity;

  @media (min-width: #{$modal-breakpoint}) {
    max-width: 720px;
    height: auto;
    max-height: 100%;
    margin: 1.5rem;
    border-radius: 4px;
  }

  [data-type="alert"] & {
    max-width: 360px;
    height: auto;
    margin: 1rem;
    text-align: center;
    border-radius: 4px;
  }

  .overlay[data-opened="true"] & {
    animation-name: showModal;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  .overlay[data-opened="true"]:not([data-type="alert"]) & {
    animation-delay: $overlay-animation-duration;
  }

  .overlay[data-opened="false"] & {
    animation-name: hideModal;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  &--header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-height: 3rem;
    padding: 0.75rem 1rem;
    color: rgba(#000, 0.8);
  }

  &--title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: calc(1em + 0.5rem);
  }

  &--content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: rgba(#000, 0.8);
  }

  &--footer {
    display: flex;
    flex-shrink: 0;
    min-height: 3rem;
    padding: 1rem;

    &:before {
      flex-grow: 1;
      order: 1;
      content: "";
    }

    button {
      &:first-of-type {
        order: 0;
      }

      &:last-of-type {
        order: 2;
      }
    }
  }
}

.button[data-modal-close] {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: hsl(0, 0%, 60%);
  transition: 200ms ease-out;

  &:hover {
    color: hsl(0, 0%, 80%);
  }

  .modal & {
    align-self: stretch;
    color: hsl(0, 0%, 80%);

    &:hover {
      color: hsl(0, 0%, 60%);
    }
  }

  .icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    pointer-events: none;
    fill: currentColor;
  }
}
