
// SWIPER
/*.swiper-button-prev,
.swiper-button-next {
  background-image: url(../img/icon-arrow-right-white.svg);
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-size: auto;
}

.swiper-button-prev {
  transform: rotate(180deg);
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  opacity: 1;
  background: #fff;
  transition: 200ms ease-out;

  &:hover {
    transform: scale(2);
  }

  &-active {
    background-color: $color-primary;
    transform: scale(2);
  }
}*/