
// FLEX
[data-flex] {
  display: flex;
}

[data-flex~="justify-center"] {
  justify-content: center;
}

[data-flex~="justify-between"] {
  justify-content: space-between;
}

[data-flex~="justify-around"] {
  justify-content: space-around;
}

[data-flex~="justify-end"] {
  justify-content: flex-end;
}

[data-flex~="align-center"] {
  align-items: center;
  align-content: center;
}

[data-flex~="align-start"] {
  align-items: flex-start;
  align-content: flex-start;
}

[data-flex~="align-end"] {
  align-items: flex-end;
  align-content: flex-end;
}

[data-flex~="wrap"] {
  flex-wrap: wrap;
}

[data-flex~="column"] {
  flex-direction: column;
}

// TEXT
[data-text~="center"] {
  text-align: center;
}

[data-text~="right"] {
  text-align: right;
}

[data-text~="uppercase"] {
  text-transform: uppercase;
}

[data-text~="small"] {
  font-size: $font-size-small !important;
}

[data-text~="xsmall"] {
  font-size: $font-size-xsmall !important;
}

[data-text~="large"] {
  font-size: $font-size-large;
}

[data-text~="bold"] {
  font-weight: 700;
}

// COLOR
[data-color="gray-dark"] {
  color: $color-gray-dark;
}

[data-color="gray-medium"] {
  color: $color-gray-medium;
}

[data-color="gray-light"] {
  color: $color-gray-light;
}

// IMG
.img {
  display: block;
  
  &-responsive {
    max-width: 100%;
    height: auto;
  }
  
  &-cover,
  &-contain {
    width: 100%;
    height: 100%;
  }

  &-cover {
    object-fit: cover;
  }

  &-contain {
    object-fit: contain;
  }
}

// HIDDEN
[data-display~="none"] {
  display: none !important;
}

[data-display~="block"] {
  display: block;
}

[data-display~="flex"] {
  display: flex;
}

[data-display~="sm-none"] {
  @media #{$screen-sm} {
    display: none !important;
  }
}

[data-display~="sm-block"] {
  @media #{$screen-sm} {
    display: block !important;
  }
}

[data-display~="sm-flex"] {
  @media #{$screen-sm} {
    display: flex !important;
  }
}

[data-display~="md-none"] {
  @media #{$screen-md} {
    display: none !important;
  }
}

[data-display~="md-block"] {
  @media #{$screen-md} {
    display: block !important;
  }
}

[data-display~="md-flex"] {
  @media #{$screen-md} {
    display: flex !important;
  }
}

// EMBED
.embed {
  position: relative;
  width: 100%;
  padding-bottom: ((9 / 16) * 100%);

  iframe,
  video,
  figure,
  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
