
// COLORS
$color-gray: hsl(0,0%,50%);
$color-gray-dark: rgba(#000, 0.8);
$color-gray-medium: rgba(#000, 0.6);
$color-gray-light: rgba(#000, 0.4);

$base-color: $color-gray-dark;

$color-primary: #151554;
$color-2: #fff;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-light: lighten($color-primary, 10%);
$color-secondary: #FF0045;
$color-secondary-dark: darken($color-secondary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);


// FONTS
$font-primary: 'jedi', sans-serif;
$font-secondary: 'Noyh', sans-serif;

$font-size-xlarge: 20px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-xsmall: 12px;

$line-height-small: calc(1em + 0.25rem);
$line-height: calc(1em + 0.5rem);
$line-height-base: calc(1em + 0.5rem);
$line-height-large: calc(1em + 0.75rem);
$line-height-xlarge: calc(1em + 1rem);


// MEDIA QUERY
$screen-xl: '(min-width:1600px)';
$screen-lg: '(min-width:1280px)';
$screen-md: '(min-width:960px)';
$screen-sm: '(min-width:768px)';
$screen-xs: '(min-width:480px)';

$screen-md-max: '(max-width:959px)';
$screen-sm-max: '(max-width:767px)';
$screen-xs-max: '(max-width:479px)';
