<!-- MODALS -->
<div class="overlay" id="modal01" (click)="close($event)" data-backdrop data-modal-close>
  <section class="modal">
    <header class="modal--header">
      <h3 class="modal--title">quem Sou eu?</h3>
      <div class="button" data-type="icon" (click)="close($event)" data-modal-close><svg class="icon icon-clear" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg></div>
    </header>
    <div class="modal--content">
      <div class="datails">
        <div *ngIf="person.images" class="image">
          <img class="img-cover" [src]="person.images" alt="">
        </div>
        <div class="attributes">
          <ul>
            <li>espécie:
              <div >
                {{person['species'].length ? person.species[0].name  : ''}}
              </div>
            </li>
            <li>Altura:
              <div >
                {{person?.height}}
              </div>
            </li>
            <li>Cor do cabelo:
              <div >
                {{person?.hair_color}}
              </div>
            </li>
            <li>Planeta:
              <div>
                {{person.homeworld?.name}}
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="more-datails">
        <div class="movies">
          <div>Filmes:</div>
          <ul >
            <li class="slideInRight" data-animation data-animation-delay="1500ms" *ngFor="let film of person.films">{{film.title}}</li>
          </ul>
        </div>
        <div class="vehicles">
          <div>veículos:</div>
          <ul >
            <li class="slideInRight" data-animation data-animation-delay="1500ms" *ngFor="let vehicle of person.vehicles">{{vehicle.name}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="overlay" id="modaFormulario"  data-backdrop data-modal-close>
  <section class="modal">
    <header class="modal--header">
      <h3 class="modal--title">quiz finalizado!</h3>
    </header>
    <div class="modal--content">
      <div class="finish-quiz">
        <div class="score">{{currentScore}} Pontos</div>
        <div class="description">Preencha o formulario abaixo para salvar sua pontuação</div>
        <div class="save-score">
          <form action="" #formScore="ngForm" id="formScore" novalidate="false" (ngSubmit)="saveScore()">
            <div class="field">
              <div>Nome</div>
              <input [style.border-color]="!nameUser ? 'red' : ''" name="nome" required [(ngModel)]="nameUser" type="text">
            </div>
            <div class="field">
              <div>Email</div>
              <input name="email" [style.border-color]="!emailUser ? 'red' : ''" required [(ngModel)]="emailUser" type="text">
            </div>
            <button type="submit" [disabled]="!formScore.valid" class="save-score-button">salvar</button>
          </form>
        </div>

      </div>
    </div>
  </section>
</div>


<div class="overlay" id="alert" data-type="alert">
  <div class="modal">
    <header class="modal--header">
      <h3 class="modal--title">obrigado por participar.</h3>
    </header>
    <div class="modal--content"></div>
    <footer class="modal--footer">
      <button  class="button-go-home" (click)="goHome()" data-modal-close>Ir para home</button>
    </footer>
  </div>
</div>
<div class="overlay" id="modalRank" (click)="close($event)" data-backdrop data-modal-close>
  <section class="modal">
    <header class="modal--header">
      <h3 class="modal--title">rank do quiz</h3>
    </header>
    <div class="modal--content">
     <ul>
       <li *ngFor="let score of listRank">{{score.nameUser}} - {{score.score}} pontos</li>

     </ul>
    </div>
  </section>
</div>


