<div class="container">
    <div class="grid" data-gutter="small">
        <div class="cell" data-cell-lg="12">
            <section class="layout-home">
                <div class="layout-home--header">
                    <div class="logo">
                        <img class="img-cover" [src]="'assets/star-wars.svg'" alt="">
                    </div>

                </div>
                <div class="layout-home--explain">
                    <div class="description">
                        Atenção, Jovem Padawan! mostre que você é o maior conhecedor do mundo star-wars, chame seus
                        amigos para competir. que a Força esteja com você!
                    </div>

                </div>
                <button routerLink="quiz" class="layout-home--start-game">iniciar</button>
                <button *ngIf="valueRank.length" (click)="showRank()" class="layout-home--start-game">Rank</button>
            </section>
        </div>
    </div>
</div>


<app-modal #modal ></app-modal>